@model List<Advertising>

@{
    ViewData["Title"] = "Home Page";
}

<message text="@TempData["msg"]"></message>

<div class="d-flex justify-content-between align-items-end">
    <div class="p-3 col-md-4 col-sm-1">
        <h1 class="display-4 colab-user">Olá, Usuário</h1>
    </div>

    <form class="d-flex justify-content-between col-md-8 col-sm-1">
        <div class="d-flex justify-content-between col-md-6 col-sm-1">
            <div class="mt-1 p-3">
                <p>Encontre a sua doação</p>
            </div>
            <div class="col p-3">
                <select class="form-control mr-2" name="filterType">
                    <option disabled selected>Selecione</option>
                    <option>Fornecedor</option>
                    <option>Cidade</option>
                </select>
            </div>
        </div>
        <div class="d-flex justify-content-between col-md-6 p-3">
            <input type="text" name="filter" class="form-control input-search" placeholder="Pesquisar">
            <button type="submit" class="btn btn-search">
                <img src="~/img/icons/search.svg" width="17" height="23" class="d-inline-block align-top colab-menu" />
            </button>
        </div>
    </form>
</div>

@if (Model.Count == 0)
{
    <message text="Nenhum registro encontrado" class="alert alert-danger"></message>
}

<div class="d-flex flex-wrap justify-content-between">
    @foreach (var item in Model)
    {
        <div class="p-3 col-md-4 col-sm-1">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@item.Title</h4>
                    <h6 class="card-subtitle text-muted mt-2 mb-3 card-provider-name">@item.Provider.Name</h6>
                    <p class="card-text mb-4">
                        @item.Provider.Address
                        <br />
                        @item.Provider.City - @item.Provider.UF, @item.Provider.Country
                    </p>
                    <div class="d-flex justify-content-between">
                        <div class="col-auto mr-auto mt-1">
                            <p>Quantidade: @item.Quantity</p>
                        </div>
                        <div class="col-auto">
                            <a asp-controller="advertising" asp-action="details" asp-route-id="@item.AdvertisingId" class="btn btn-outline-primary">Detalhes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>