@model Provider

@{
    ViewData["Title"] = "Perfil";
}

<message text="@TempData["msg"]"></message>

<div class="card mb-3" style="max-width: 30rem;">
    <h4 class="card-header">Dados de Cadastro</h4>
    <div class="card-body">
        <div class="form-group mt-4">
            <p class="user-label">No. Documento</p>
            <p class="user-txt-value">@Model.Document</p>
        </div>
        <div class="form-group mt-4">
            <p class="user-label">Nome</p>
            <p class="user-txt-value">@Model.Name</p>
        </div>
        <div class="form-group mt-4">
            <p class="user-label">E-mail</p>
            <p class="user-txt-value">@Model.Email</p>
        </div>
        <div class="form-group mt-4">
            <p class="user-label">Telefone</p>
            <p class="user-txt-value">@Model.Phone</p>
        </div>
        <div class="form-group mt-4">
            <p class="user-label">Endereço</p>
            <p class="user-txt-value">@Model.Address</p>
        </div>
        <div class="form-group mt-4">
            <p class="user-label">Cidade</p>
            <p class="user-txt-value">@Model.City</p>
        </div>
        <div class="form-group mt-4">
            <p class="user-label" h6>Estado</p>
            <p class="user-txt-value">@Model.UF</p>
        </div>
        <div class="form-group mt-4">
            <p class="user-label">País</p>
            <p class="user-txt-value">@Model.Country</p>
        </div>
    </div>
</div>